//! **************************************************************************
// Written by: Map P.20131013 on Wed Feb 12 14:04:04 2020
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P144";
PROHIBIT = SITE "P69";
PROHIBIT = SITE "P60";
COMP "led" LOCATE = SITE "P112" LEVEL 1;
SCHEMATIC END;

