//! **************************************************************************
// Written by: Map P.20131013 on Mon Feb 24 14:46:01 2020
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P144";
PROHIBIT = SITE "P69";
PROHIBIT = SITE "P60";
SCHEMATIC END;

