//! **************************************************************************
// Written by: Map P.20131013 on Tue Feb 25 15:35:38 2020
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P144";
PROHIBIT = SITE "P69";
PROHIBIT = SITE "P60";
SCHEMATIC END;

